body {
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}

#container {
  width: 375px;
  height: 606px;
  background: url('../images/poster.jpg');
  background-size: cover;
}